<section id="{{ anchor }}" class="{{ class_name }}" style="{{ style|raw }}">
    <div class="{{ container|default('container') }}">
        <div class="pb-4 border-b border-neutral-25">
            {{ yoast_breadcrumb()|raw }}
        </div>
    </div>
</section>
